.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-right: -10px;
    margin-left: -10px;
    padding-bottom: 20px;  

    
}

.navbar__item {
    flex-basis: 10%;
    list-style-type: none;
    text-decoration: none;
    
}

.navbar__link {
    text-decoration: none;
    color: black;
}

.navbar__link:hover {
    color: goldenrod;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 600px ){
    .navbar {
        flex-direction: column;
        align-items: center;
        margin: auto;
        
    }

    .navbar__link {
        text-decoration: none;
        font-size: 15pt;
    }

    
    
}